                                                                                                    // MAIN BRANDS
                                            // MAIN
.main__brands {
    background-image: url(../assets/image/carrusel\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 60px;
  }