*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a{
    text-decoration: none;
  }

  .containerflex{
    display: flex;
  }

   @mixin section-brands{
    background-size: $bgCov;
    background-position: $bgCen;
    background-attachment: $bgAtt;
    width: $w100p;
    height: $h300;
    display: $disFx;
    flex-direction: $flxdtn;
    justify-content: $jfyE;
    align-items: $algC;
    padding-bottom: 30px;
   }

  // MINIM
  @media (min-width: $bpMn){}

  // MOBILE FIRST
  @media (min-width: $bpMob){}

  // MEDIUM
  @media (min-width: $bpMed){}

  // DESKTOP
  @media (min-width: $bpDkp){}