* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

/////////////////////////////////////////////////MAIN BRANDS/////////////////////////////////////////////////////////
///////////////////////////////////////////////////GENERAL///////////////////////////////////////////////////////////
@mixin container-brands {
  margin-top: $mt60;
  padding: 50px 50px;
  max-width: $mxw100p;
}

@mixin stylecard {
  background-color: $bgwhite;
  border-radius: 10px;
  padding: 20px;
  box-shadow: $bx-shw;
}

@mixin stylecardimg {
  width: $w100p;
  height: $hauto;
  border-radius: 10px;
  margin-bottom: $mb20;
  object-fit: $bgCov;
}

@mixin stylecardtitle {
  margin-bottom: $mb20;
  font-size: 20px;
}

@mixin stylecardbutton {
  background-color: $bgblack;
  color: $fontwhite;
  font-weight: $fontBld;
  padding: 15px 25px;
  border-radius: 10px;
  width: $w100p;
  display: $disIB;
  text-align: $txtalgnc;
  text-decoration: none;
  margin: 5px 5px;
}

////////////////////////////////////////////////////MINIM////////////////////////////////////////////////////////////
@mixin cardsMn {
  max-width: $mxw500;
  margin: $moa;
  display: $disGd;
  grid-template-columns: 1fr;
  gap: 50px;
}

////////////////////////////////////////////////////MOBILE////////////////////////////////////////////////////////////
@mixin cardsMob {
  max-width: $mxw500;
  margin: $moa;
  display: $disGd;
  grid-template-columns: 1fr;
  gap: 50px;
}

////////////////////////////////////////////////////MEDIUM////////////////////////////////////////////////////////////
@mixin cardsMed {
  max-width: $mxw700;
  margin: $moa;
  display: $disGd;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

////////////////////////////////////////////////////DESKTOP////////////////////////////////////////////////////////////
@mixin cardsDskp {
  max-width: $mxw1200;
  margin: $moa;
  display: $disGd;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}


/////////////////////////////////////////////////BRANDS STYLE/////////////////////////////////////////////////////////
////////////////////////////////////////////////////GENERAL///////////////////////////////////////////////////////////
.main__frags {
  margin-top: $mt60;
}

@mixin stylebrandsname {
  text-decoration: none;
  color: $fontblack;
  justify-content: $jfyC;
  align-content: $algconc;
  display: $disBk;
}

@mixin stylebrandssmall {
  display: $disBk;
}

@mixin styleself {
  justify-self: $jfysfC;
  align-self: $algsfC;
}

@mixin stylebrandsimg {
  display: $disFx;
  justify-content: $jfyC;
  align-items: $algC;
  margin: $moa;
}

////////////////////////////////////////////////////MINIM////////////////////////////////////////////////////////////
@mixin stylebrandsMn {
  display: $disGd;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 50px;
  margin: $moa;
  max-width: $mxw576;
  margin-top: $mt50;
  margin-bottom: $mb50;
}

////////////////////////////////////////////////////MOBILE////////////////////////////////////////////////////////////
@mixin stylebrandsMob {
  display: $disGd;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 50px;
  margin: $moa;
  max-width: $mxw576;
  margin-top: $mt50;
  margin-bottom: $mb50;
}

////////////////////////////////////////////////////MEDIUM / DESKTOP//////////////////////////////////////////////////
@mixin stylebrandsMed {
  display: $disGd;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  margin: $moa;
  max-width: $mxw500;
  margin-top: $mt50;
  margin-bottom: $mb50;
}

@mixin stylebrandsimghr {
  height: $h100p;
  object-fit: $bgCov;
  opacity: 1;
  transition: opacity 0.3s;
}

@mixin stylebrandsDskp {
  display: $disGd;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  margin: $moa;
  max-width: $mxw500;
  margin-top: $mt50;
  margin-bottom: $mb50;
}

/////////////////////////////////////////////CAT-LADY / CAT-MEN//////////////////////////////////////////////////////
///////////////////////////////////////////////////GENERAL///////////////////////////////////////////////////////////
@mixin sectionInter {
  display: $disFx;
  height: $h200;
  width: $w100p;
  flex-direction: $flxdtn;
  justify-content: $jfyE;
  align-items: $algC;
  padding-bottom: 40px;
}

@mixin section-cat {
  background-size: $bgCov;
  background-position: $bgCen;
  background-attachment: $bgAtt;
  width: $w100p;
  height: $h300;
  display: $disFx;
  flex-direction: $flxdtn;
  justify-content: $jfyE;
  align-items: $algC;
  padding-bottom: 30px;
}

@mixin a-cat {
  text-decoration: none;
  color: $fontwhite;
  display: $disFx;
  flex-direction: $flxdtn;
  align-items: $algC;
}

@mixin span-cat {
  display: $disIB;
  padding: 10px 20px;
  color: $fontwhite;
  font-weight: $fontBld;
  border-radius: 4px;
  margin-top: $mt20;
  border: white solid thin;
}




////////////////////////////////////////////////////WHOLESALE/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////GENERAL//////////////////////////////////////////////////////////
////////////////////////////////////////////////////DESCUBRE//////////////////////////////////////////////////////////
@mixin styledescubre {
  justify-content: $jfyC;
  max-width: $mxw100p;
  display: $disFx;
  margin-top: $mt60;
}

@mixin styledescubreinfo {
  max-width: $mxw700;
  height: $h300;
  display: $disFx;
  flex-direction: $flxdtn;
  justify-content: $jfyC;
  align-items: $algC;
  padding-bottom: 30px;
}

@mixin styledescubretitle {
  margin: $m0;
}

@mixin styledescubrep {
  padding: 20px;
  text-align: $txtalgnJy;
  justify-content: $jfyC;
  align-content: $algconc;
  color: $fontblack;
  font-family: $font-family;
  font-size: $font-size;
  color: $fontogrey;
  margin-bottom: $mb0;
}

/////////////////////////////////////////////////////MAYOREO//////////////////////////////////////////////////////////
@mixin stylemayoreo {
  background-image: url(../assets/image/bg-whole.png);
  background-size: $bgCov;
  background-position: $bgCen;
  background-attachment: $bgAtt;
  width: $w100p;
  height: $h300;
  display: $disFx;
  flex-direction: $flxdtn;
  justify-content: $jfyC;
  align-items: $algC;
  padding-bottom: 30px;
  margin-top: 50px;
}

@mixin stylemayoreoinfo {
  height: $h400;
  max-width: $mxw100p;
}

@mixin stylemayoreobutton {
  background-color: $fontblack;
  color: $fontwhite;
}


//////////////////////////////////////////////////FREESHIPMENT////////////////////////////////////////////////////////
/////////////////////////////////////////////////////GENERAL//////////////////////////////////////////////////////////
////////////////////////////////////////////////////DESCUBRE//////////////////////////////////////////////////////////
@mixin stylecompromiso {
  justify-content: $jfyC;
  max-width: $mxw100p;
  display: $disFx;
}

@mixin stylecompromisoinfo {
  max-width: $mxw700;
  height: $h300;
  display: $disFx;
  flex-direction: $flxdtn;
  justify-content: $jfyC;
  align-items: $algC;
  padding-bottom: 30px;
}

@mixin stylecompromisop {
  padding: 20px;
  text-align: $txtalgnJy;
  justify-content: $jfyC;
  align-content: $algconc;
  color: $fontblack;
  font-family: $font-family;
  font-size: $font-size;
  color: $fontogrey;
  margin-bottom: $mb0;
}


////////////////////////////////////////////////////OFERTA//////////////////////////////////////////////////////////
@mixin styleoferta {
  background-image: url(../assets/image/bg-shipM.jpg);
  background-size: $bgCov;
  background-position: $bgCen;
  background-attachment: $bgAtt;
  width: $w100p;
  height: $h300;
  display: $disFx;
  flex-direction: $flxdtn;
  justify-content: $jfyC;
  align-items: $algC;
  padding-bottom: 30px;
}

@mixin styleofertainfo {
  height: $h400;
  max-width: $mxw100p;
}

@mixin styleofertabutton {
  background-color: $bgblack;
  color: $fontwhite;
}

//////////////////////////////////////////////////////THX//////////////////////////////////////////////////////////
@mixin stylethx {
  justify-content: $jfyC;
  max-width: $mxw100p;
  display: $disFx;
  margin-top: $mt60;
}

@mixin stylethxinfo {
  max-width: $mxw700;
  height: $h300;
  display: $disFx;
  flex-direction: $flxdtn;
  justify-content: $jfyC;
  align-items: $algC;
  padding-bottom: 30px;
}

@mixin stylethxp {
  padding: 20px;
  text-align: $txtalgnJy;
  justify-content: $jfyC;
  align-content: $algconc;
  color: $fontblack;
  font-family: $font-family;
  font-size: $font-size;
  color: $fontogrey;
  margin-bottom: $mb0;
}


////////////////////////////////////////////////////CONTACTO//////////////////////////////////////////////////////////
/////////////////////////////////////////////////////GENERAL//////////////////////////////////////////////////////////
@mixin stylecontact {
  margin-top: $mt60;
  padding: 0 20px;
  margin-bottom: $mb60;
}

@mixin stylecontacttitle {
  margin-bottom: $mb40;
  text-align: $txtalgnc;
  font-size: 30px;
}

@mixin stylecontactcardshw {
  background-color: $bgwhite;
  border-radius: 10px;
  padding: 20px;
  box-shadow: $bx-shw;
}

@mixin stylecontacardimg {
  width: $w100p;
  height: $hauto;
  border-radius: 10px;
  margin-bottom: $mb20;
  object-fit: $bgCov;
}

@mixin stylecontactcardtitle {
  margin-bottom: $mb20;
  font-size: 20px;
}

@mixin stylecontactcardbutton {
  background-color: $bgblack;
  color: $fontwhite;
  font-weight: $fontBld;
  padding: 15px 0;
  border-radius: 10px;
  width: $w100p;
  display: $disBk;
  text-align: $txtalgnc;
  text-decoration: none;
}

////////////////////////////////////////////////////MINIM////////////////////////////////////////////////////////////
@mixin stylecontactcardsMn {
  max-width: $mxw500;
  margin: $moa;
  display: $disGd;
  grid-template-columns: 1fr;
  gap: 50px;
}

////////////////////////////////////////////////////MOBILE////////////////////////////////////////////////////////////
@mixin stylecontactcardsMob {
  max-width: $mxw500;
  margin: $moa;
  display: $disGd;
  grid-template-columns: 1fr;
  gap: 50px;
}

////////////////////////////////////////////////////MEDIUM////////////////////////////////////////////////////////////
@mixin stylecontactcardsMed {
  max-width: $mxw700;
  margin: $moa;
  display: $disGd;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

////////////////////////////////////////////////////DESKTOP////////////////////////////////////////////////////////////
@mixin stylecontactcardsDskp {
  max-width: $mxw1200;
  margin: $moa;
  display: $disGd;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}




// MINIM
@media (min-width: $bpMn) {}

// MOBILE FIRST
@media (min-width: $bpMob) {}

// MEDIUM
@media (min-width: $bpMed) {}

// DESKTOP
@media (min-width: $bpDkp) {}