// FONT COLOR
$fontblack: #000000;
$fontogrey: #333;
$fontgrey: #343434;
$fontwhite: #ffffff;

// FONT-SIZE
// px
$titlesize100: 100px;
// $titlesize200: 200px;
// $titlesize300: 300px;
// measure
$subtitleL: large;
$subtitlexxL: xx-large;

// FONT-FAMILY
$titlefont: Arial, Helvetica, sans-serif;
$contentfont:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

// FONT WEIGHT
// px
$fontS: 100px;
$fontMn: 200px;
// $fontM: 300px;
$fontMx: 400px;
// value
$fontBld: bold;



// BACKGOUNDS
$bgblack: black;
$bgwhite: white;


//BG-IMAGE
$bgAtt: fixed;
$bgCov: cover;
$bgCen: center;


//BG-VIDE
$bgpA: absolute;


//BG-VIDEO-CONTENT
$cvP: relative;



//POSITON
$absolute: absolute;


// LISTE STYLE
$listnone: none;


// TEXTDECORATION
$linknone: none;


// PADDING
$pdg0: 0px;
$pdg20: 20px;
$pdg30: 30px;
$pdg40: 40px;
$pdg50: 50px;

//MARGIN
// margin
$m0: 0px;
$m10: 10px;
$moa: 0 auto;
// mt
$mt0: 0px;
$mt20: 20px;
$mt50: 50px;
$mt60: 60px;
$mt90: 90px;
$mt100: 100px;
$mt200: 200px;
$mt250: 250px;
// mb
$mb0: 0px;
$mb20: 20px;
$mb40: 40px;
$mb50: 50px;
$mb60: 60px;


//HEIGTH
// px
$h200: 200px;
$h300: 300px;
$h400: 400px;
$h500: 500px;
// %
$h100p: 100%;
//auto
$hauto: auto;

//WIDTH
// px

// %
$w100p: 100%;


// MAX-WIDTH
// px
$mxw500: 500px;
$mxw700: 700px;
$mxw576: 576px;
$mxw1200: 1200px;
// %
$mxw100p: 100%;


// DISPLAY
$disIB: inline-block;
$disBk: block;
$disFx: flex;
$disGd: grid;

// FLEX-DIRECTION
$flxdtn: column;

//FELXX
$flex: flex;
$fdc: column;

// BODER-RADIUS
$br-rds4: 4px;
$br-rds5: 5px;



// BOX-SHADOW
$bx-shw: 0 25px 50px -12px rgba(0, 0, 0, 0.6);


// ALIGN ITEM
$algC: center;

// JUSTIFY-CONTENT
$jfyC: center;
$jfyE: end;

// ALIGN-CONTENT
$algconc: center;

// JUSTIFY-SELF
$jfysfC: center;

// ALING-SELF
$algsfC: center;

// TEXT-ALIGN
$txtalgnc: center;
$txtalgnJy: justify;

// BREAKPOINTS
$bpMn: 0px;
$bpMob: 500px;
$bpMed: 700px;
$bpDkp: 900px;


$padding: 20px;

$border-radius: 5px;
$font-family: Arial, sans-serif;
$font-size: 16px;

// TRANSITION LINKS
$transition: all 0.3s;